/*#btnAdd , #btnRemove
{
   width: 50px;
   margin: auto;
  
}
*/


/*


#btnOrder{
    display: inline-block;
    width : 200px ;
    margin:20px;
    font-size: 1em;
}

#btnContinueShopping{
    display: inline-block;
    width: 200px;
    margin:20px;
    font-size: 1em;
}
label{
    display: flex;
    width: auto;
}

input {
    display: flex;
    margin-left : 10px;
    align-items: center;
    width: auto;
}*/


/*************** PAGE INDEX ***************/

*
{
    list-style-type: none;
    margin:0;
    padding:0;
}

body
{
    /*background-color: rgba(233, 183, 183, 0.616);*/
   
    
    background-image: url(./images/doux\ vert.jpg);
   
}

nav 
{
    display: flex;
    font-size:1.9em;
    color: yellow;
}


.jumbotron 
{
  /*background-color: rgb(78, 30, 100);*/
    color: rgb(221, 193, 37); 
    text-align: center;
    background-image: url(./images/coton\ chammp\ blanc\ vert.jpg);
  
    background-position: center;
 
}  

@font-face{
    font-family: "essais";
    src: url("./fonts/Cute\ Cartoon.ttf");
    font-weight: bold;
}

.container h1 {
    /*color:rgb(99, 77, 61);*/
    color: black;
    font-size:  5.5em;
    font-family: "essais";
}

#listTeddies  
{
    display: flex;
    flex-direction:row;   
    flex-wrap: wrap;  
    justify-content:center;      
}

.card
{
    margin:30px;
    width: 30rem;
    
}

.card-img-top
{
    border:1px solid black;
}

.card-body
{
 border:5px solid brown;
 background-color: #93f5e8a4;
 font-size: 1.2em;
 
}

.card-title , h3
{
    text-align: center;
    font-size:2.5em;
    text-transform: capitalize;
    text-decoration: underline;
    margin:30px 0px 30px 0px;
    color: brown;
}

#btnProduct
{
   width: auto;
    font-weight: bolder; 
   margin:auto;
   
}

#btnIndexProduct{
   margin: auto;
   font-size: 1.2em;
   /*background-image: url(./images/aquarelle\ bleu.jpg);*/
}

footer
{
    text-align:center;  
    font-size:1.5em;  
}

.foot-icone img{
margin-right:10px;
}

.foot
{
    background-color:#4d555e;
    margin-bottom:0;
    padding-top: 20px;
    color:yellowgreen;
   
}

.icone
{
    display: inline-block;
    padding: 10px;
    font-size: 1.5em;   
}

/*************** PAGE PRODUITS ***************/

.cards__items__body 
{
    margin:50px 50px 0 50px;
    padding:20px;
    background-color: #93f5e8a4;
    border:2px solid black;
}
.image__teddies__products
{
    
    width:300px;
    margin:auto;
    margin-top:30px;
    display:block;
    border:3px solid brown;;
}

.cards__items__body p{
    font-size: 1.2em;
    text-align: left;
    padding:10px;
}

.contentProductTeddie{
    border: 3px solid black;
    margin: 0px 250px 0px 250px;
}

.instruction {
    margin: 70px 0px 50px 0px;
}
#selects
{
    height: 50px; 
    color:rgba(251, 255, 0, 0.938);
    background-color: brown;
    display: flex; 
    margin: auto;
    margin-top:30px;
}

#basket{
    display: block;
    margin: auto;
    margin-top: 20px;

    width: auto;
    font-size: 1em;
    border: 2px solid brown ; 
    text-align: center;
}

/*.checkArticle
{
    margin: 10px;
}

.instruction{
    font-size: 1.8em;
    text-transform:lowercase
}



.option
{
    text-align: center;
}


.cards__item__thumb img
{
    display: block;
    margin-left: auto;
    margin-right: auto ;
    border:3px solid brown;
    margin-top:50px; 
}



.input-group
{
    text-align:center;
    padding-left:20px;
    font-size:1.5em;
}

.btn_2 
{
    display: block;
    margin:auto;
    color:yellowgreen;
    background-color: rgb(10, 70, 13);
    margin-bottom:20px;
}

#message{
    font-size: 1.6em;
    text-align: center;
    color: blue;
}
/*-------------------------------------------------------------------*/

/*.cards__items__body
{
    width: auto;
    height: auto;
    margin-bottom: 30px;
}

.image__teddies__product{

    width:100px;
    display: block;
   margin: auto;
   border: 1px solid brown;  
}


td p{
    text-align: center;
    margin: auto;
    padding: 10px;
    color:brown;
}
#tdBody{
    padding:0px;
}

/*#basket
{
    display: block;
    margin: 10px;
    padding: 10px;
    width: auto;
    font-size: 0.8em;
    border: 2px solid brown ; 
    text-align: center;
}
*/
/*
.table
{
    background-color:burlywood;
}

.formulaire legend
{
    text-align:center;
    border:1px solid brown;
    margin-bottom:20px;
}

.formulaire
{
    text-align:center;
    margin-top:50px;
}

.formulaire-prénom
{
    margin-top:35px;
}

.formulaire-ville
{
    margin-bottom:20px;
}

.form-example
{
    padding-bottom:20px;
}

