*
{
    list-style-type: none;
    margin:0;
    padding:0;
}

body
{
    background-color: rgba(233, 183, 183, 0.616);
}

nav 
{
    color : white;
    font-size:1.5em;
}
#btnAdd , #btnRemove
{
   width: 50px;
   margin: auto;
  
}


.jumbotron
{
  background-color: rgb(78, 30, 100);
    color: rgb(221, 193, 37); 
    text-align: center;
}  

#listTeddies  
{
    width: auto;
    display: flex;
    flex-direction:row;   
    flex-wrap: wrap;  
    justify-content:center;      
    align-items: center; 
   
}


.card
{
    margin:30px;
    width: 30rem;
    
}

.card-img-top
{
    border:1px solid black;
}

.card-body
{
 border:5px solid brown;
 background-color: #93f5e8a4;
}

.card-title , h3
{
    text-align: center;
    font-size:2.5em;
    text-transform: capitalize;
    text-decoration: underline;
    margin-top:10px;
    color: brown;
}


.btn , #button 
{
    color:rgba(251, 255, 0, 0.938);
    background-color: rgba(15, 107, 20, 0.767);
    font-weight: bolder;
    text-transform: uppercase;
    display: block; 
}

p
{
    font-size: 1.5em;
}

#btnOrder{
    display: inline-block;
    width : 200px ;
    margin:20px;
    font-size: 1em;
}

#btnContinueShopping{
    display: inline-block;
    width: 200px;
    margin:20px;
    font-size: 1em;
}
label{
    display: flex;
    width: auto;
}

input {
    display: flex;
    margin-left : 10px;
    align-items: center;
    width: auto;
}
/*------------------------------------------------------------*/

#selects
{
    margin: 30px 0px 30px 0px;
    font-size:1.5em;
    height: 50px; 
    font-size:1em;
    color:rgba(251, 255, 0, 0.938);
    background-color: brown;
    display: block; 
}

.checkArticle
{
    margin: 10px;
}

.instruction{
    font-size: 1.8em;
    text-transform:lowercase
}

.image__teddies__products
{
    
    width:500px;
    margin-bottom: 50px;
}

.option
{
    text-align: center;
}


.cards__item__thumb img
{
    display: block;
    margin-left: auto;
    margin-right: auto ;
    border:3px solid brown;
    margin-top:50px; 
}

.cards__items__body 
{
    margin:20px 20px 0 20px;
    
    padding:20px;
    font-size:1em;
    background-color: #93f5e8a4;
    border:2px solid black;
}

.input-group
{
    text-align:center;
    padding-left:20px;
    font-size:1.5em;
}

.btn_2 
{
    display: block;
    margin:auto;
    color:yellowgreen;
    background-color: rgb(10, 70, 13);
    margin-bottom:20px;
}

#message{
    font-size: 1.6em;
    text-align: center;
    color: blue;
}
/*-------------------------------------------------------------------*/

.cards__items__body
{
    width: auto;
    height: auto;
    margin-bottom: 30px;
}

.image__teddies__product{

    width:100px;
    display: block;
   margin: auto;
   border: 1px solid brown;  
}


td p{
    text-align: center;
    margin: auto;
    padding: 10px;
    color:brown;
}
#tdBody{
    padding:0px;
}

#basket
{
    display: block;
    margin: 10px;
    padding: 10px;
    width: auto;
    font-size: 0.8em;
    border: 2px solid brown ; 
    text-align: center;
}

.table
{
    background-color:burlywood;
}

.formulaire legend
{
    text-align:center;
    border:1px solid brown;
    margin-bottom:20px;
}

.formulaire
{
    text-align:center;
    margin-top:50px;
}

.formulaire-prénom
{
    margin-top:35px;
}

.formulaire-ville
{
    margin-bottom:20px;
}

.form-example
{
    padding-bottom:20px;
}

footer
{
    display:flex;
    display: inline;
    text-align:center;  
    font-size:1.5em;  
    position:relative;
    bottom:0;
    width:100%;
    height:50px;
}

.foot
{
    background-color:#4d555e;
    margin-bottom:0;
    padding-top: 20px;
    color:yellowgreen;
    height:auto;
}

.icone
{
    display:inline;
    font-size:1.5em;  
}
